* {
    margin: 0;
}

.navbar {
    /* border: 1px solid black; */
    height: 50px;
    width: 100%;
    display: flex;
    position: fixed;
    background-color: white;
}

#i1 {
    /* border: 1px solid black; */
    height: 96%;
    width: 256px;
}

.nav1 {
    /* border: 1px solid black; */
    height: 100%;
    width: 29%;
    text-align: center;
    cursor: pointer;
}

.nav2 {
    /* border: 1px solid black; */
    height: 100%;
    width: 72%;
    text-align: center;
    /* outline: none; */
}

.nav2 input {
    outline: none;
    border: 1px solid black;
    padding: 7px;
}

#s1 {
    margin-top: 10px;
    height: 30px;
    width: 432px;
    border-radius: 15px;
}

p {
    margin-top: 15px;
}

.cover {
    /* border: 1px solid black; */
    height: 400px;
    width: 100%;
}

#i2 {
    height: 100%;
    width: 100%;
    z-index: -2;
}

.eng {
    /* border: 1px solid black; */
    height: 50px;
    width: 328px;
    color: white;
    margin-top: -95px;
    margin-left: 58px;
}

.container {
    border: 1px solid black;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.post {
    border: 1px solid black;
    height: auto;
    width: 70%;
}

.info {
    border: 1px solid black;
    height: auto;
    width: 30%;
    /* display: flex; */
}

.navbar2 {
    height: 50px;
    width: 100%;
    display: flex;
}

.nav3 {
    /* border: 2px solid black; */
    height: 100%;
    width: 29%;
    /* text-align: center; */
}

.nav4 {
    /* border: 1px solid black; */
    height: 100%;
    width: 72%;
    margin-top: 18px;
    text-decoration: none;
    color: rgb(87, 81, 81);
}

#n2 {
    margin-left: 16px;
    margin-top: 5px;
    text-decoration: none;
    color: rgb(87, 81, 81);
}

#b1 {
    margin-left: 23px;
    margin-top: 16px;
    height: 29px;
}

#b2 {
    background-color: rgb(42, 42, 228);
    height: 29px;
    color: white;
}

.p1 {
    border: 1px solid rgb(117, 114, 114);
    border-radius: 15px;
    height: 450px;
    margin-left: 70px;
    width: 650px;
    margin-top: 44px;
}

.pimg {
    /* border: 1px solid black; */
    height: 215px;
    width: 100%;
}

.pdes {
    /* border: 1px solid black; */
    height: 165px;
    width: 100%;
}

.pacc {
    /* border: 1px solid black; */
    height: 66px;
    width: 100%;
}

#i3 {
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.type {
    /* border: 1px solid black; */
    height: 40px;
    width: 100%;
}

.head {
    /* border: 1px solid black; */
    height: 58px;
    width: 100%;
    font-size: 3vh;
}

.cont {
    /* border: 1px solid black; */
    height: 51px;
    width: 100%;
}

.photo1 {
    /* border: 1px solid black; */
    width: 100%;
    height: 7%;
    display: flex;
    padding-left: 10px;
    position: relative;
}

.pphoto {
    width: 51px;
    height: 51px;
    border-radius: 100%;
    margin-top: 1px;
}

.pphoto1 {
    /* border: 1px solid black; */
    margin-top: 16px;
    margin-left: 12px;
}

.pphoto12 {
    /* border: 1px solid black; */
    font-size: 9px;
}

.share {
    font-size: 31px;
    margin-left: 93%;
    margin-top: 7px;
}

.temp {
    border: 1px solid black;
    height: 25px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    color: green;
    text-align: center;
    margin-top: 2px;
}

.temp1 {
    border: 1px solid black;
    height: 25px;
    width: 80%;
    margin: auto;
    border-radius: 15px;
    color: rgb(231, 121, 18);
    text-align: center;
    margin-top: 2px;
}

.login {
    position: fixed;
    /* border: 1px solid black; */
    border-radius: 20px;
    height: 400px;
    width: 500px;
    z-index: 10;
    margin: 180px 440px;
    display: none;
    background-color: white;
}

.login1 {
    position: fixed;
    /* border: 1px solid black; */
    border-radius: 20px;
    height: 300px;
    width: 400px;
    z-index: 10;
    margin: 180px 440px;
    display: none;
    background-color: white;
}

.sgn {
    font-weight: bold;
    font-size: 25px;
    margin: 15px;
}

.sgin {
    margin-left: 90px;
    font-size: 15px;
}

.sgin1 {
    color: blue;
    cursor: pointer;
}

.flname {
    margin: 20px 0px 0px 20px;
    padding: 0%;
}

.flname input {
    width: 130px;
    height: 30px;
    outline: none;
    background-color: rgb(233, 233, 233);
    border: 1px solid black;
}

.epb input {
    width: 270px;
    height: 30px;
    background-color: rgb(233, 233, 233);
    margin: 0px 0px 0px 20px;
    outline: none;
    border: 1px solid black;
}

.epb1 {
    background-color: blue;
    margin-left: 20px;
    margin-top: 10px;
    width: 278px;
    height: 30px;
    text-align: center;
    padding-top: 6px;
    color: white;
    font-weight: bold;
    border-radius: 25px;
    font-size: 18px;
}

.sug {
    border: 1px solid black;
    margin: 25px 0px 0px 70px;
    width: 180px;
    text-align: center;
    height: 25px;
    padding-top: 5px;
    font-weight: bold;
}

.suf {
    border: 1px solid black;
    margin: 5px 0px 0px 70px;
    width: 180px;
    text-align: center;
    height: 25px;
    padding-top: 5px;
    font-weight: bold;
}

.fgp {
    /* border: 1px solid black; */
    margin: 5px 0px 0px 70px;
    width: 180px;
    text-align: center;
    height: 25px;
    padding-top: 5px;
    font-weight: bold;
    font-size: 13px;
    color: blue;
    cursor: pointer;
}

.cnc {
    /* border: 1px solid black; */
    margin-left: 250px;
    border-radius: 250px;
    font-size: 20px;
    cursor: pointer;
}